<div class="container">
		
	<div class="modal fade" id="float_modal" role="dialog" >
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
				</div>
				<div class="modal-body">
					<form class="form-horizontal" id='menu_flotante' action="">
						<fieldset>
						
						<div class="form-group">
						  <label class="col-md-4 control-label" for="type">Tipo</label>
						  <div class="col-md-4">
						    <select id="type" name="" class="form-control">
						      <option value="text">Texto</option>
						      <option value="number">Numero</option>
								<option value="date">Fecha</option>
						    </select>
						  </div>
						</div>
						
						<div class='required form-group'>
							<label class="control-label col-sm-2">Propiedad</label>
							<div class='col-md-8'>
								<input class='form-control input-md' type="text" id="label" required/>
							</div>
						</div>
						
						<div class="modal-footer">
				        	<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
							<button type="button" id="save" class="btn btn-primary">Guardar</button>
						</div>
						
						</fieldset>
		     		</form>
		    	</div>
			</div>
		</div>
	</div>
	
	<form class="form-horizontal" action="/save_form" method="post" name="nuevo" id="target" onsubmit="return formulario()">	
		<fieldset>
			<center>
				<legend>Formulario - <%= @entity_type %> </legend>
				<div class="text-right">					
					<a href="#float_modal" class="btn btn-success btn-sm" data-toggle="modal" >Nuevo Campo</a>
				</div>
				
				<!-- Form Hidden Values -->
				<input type="hidden" name="cc_form_type" value="<%= @entity_type %>">
				
				<div class="form-group">
				  <label class="col-md-2 control-label" for="form_name"></label>
				  <div class="col-md-8">
				    <div class="input-group">
				      <span class="input-group-addon">Nombre del Formulario</span>
				      <input id="form_name" name="cc_form_name" class="form-control" value ="" type="text" required="" autofocus="">
				    </div>
				  </div>
				</div>
				
			</center>
			<div class="body">
			</div>
			<center>
				<div class="control-group">
				  <div class="controls">
				    <a href="/" id="cancelar" name="cancelar" class="btn btn-default">Cancelar</a>
					 <input type="submit" value="Aceptar" class="btn btn-primary" />					
				  </div>
				</div>
			</center>
		</fieldset>
	</form>

</div>
 

